import(R6, checkmate, data.table, mlr3, mlr3misc, paradox)
importFrom("utils", "str")
export(ResamplingSameOtherCV, score, ResamplingVariableSizeTrainCV, ResamplingSameOtherSizesCV, pvalue)
S3method("plot", "score")
S3method("plot", "pvalue")
