import(R6, checkmate, data.table, mlr3, mlr3misc, paradox)
importFrom("utils", "str")
importFrom("stats", "sd", "t.test", "coef")
export(ResamplingSameOtherCV, score, ResamplingVariableSizeTrainCV, ResamplingSameOtherSizesCV, pvalue)
S3method("plot", "score")
S3method("plot", "pvalue")
export(proj_fread, proj_test, proj_grid, proj_compute, proj_results, proj_submit, proj_results_save, LearnerRegrCVGlmnetSave, LearnerClassifCVGlmnetSave, AutoTunerTorch_epochs)
